<%= render 'templates/form_header' %>

<div class="wrapper">
  <section class="contents_top">
    <div class="posts">
      <div class="user_info">
        <img src=<%= @avatar_image %> alt="avatar_image" class="login_user_thumbnail">
        <div class="user_info__nickname">
          <p><%= @nickname %> さんの投稿一覧</p>
        </div>
      </div>
      <ul class="post_ul">
        <% @posts.each do |post| %>
          <li class="post_li_user">
            <%= link_to "/posts/#{post.id}", method: :get do %>
              <img src=<%= post.image %> alt="post_image" class="post_img">
              <a class="post_tag" href="">#<%= post.tag.tag %></a>
              <p class="post_title"><%= post.title %></p>
              <p class="post_date"><%= l post.created_at, format: :long %></p>
              <p class="post_text"><%= post.text %></p>
              <% if user_signed_in? && current_user.id == post.user_id %>
                <%= link_to "/posts/#{post.id}", method: :delete, data: { confirm: '本当に削除してもよろしいですか？'} do %>
                  <i class="far fa-times-circle"></i>
                <% end %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </section>
</div>

<%= render 'templates/footer' %>